//
//  MultifonRedirect.release.xcconfig
//  MultifonRedirect
//
//  Created by Grigory Entin on 04.03.17.
//  Copyright © 2017 Grigory Entin. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-MultifonRedirect/Pods-MultifonRedirect.release.xcconfig"
#include "MultifonRedirect-app.xcconfig"
